.searchresults {
    align-self: center;
    max-height: 75vh;
    overflow: scroll;
    width: 20rem;
    border: .3rem solid #73AD21;
    padding: 1rem;
}

h3 {
    position: fixed;
    top: 1.5rem;
}