.track {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #f3f3f3;
    border-radius: 5rem;
}

.track h4 {
    margin: 0;
    color: #333;
}

.track p {
    margin: .5rem 0;
    font-size: 1rem;
    color: #666;
}

button .seletionButtons {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: .2rem .2rem;
    cursor: pointer;
}